#!/bin/bash

cd {{ hubot_dir }}

[[ -s {{ hubot_dir }}/{{hubot_identity}}.env ]] && . {{ hubot_dir }}/{{hubot_identity}}.env
[[ -s {{ hubot_nvm_dir }}/nvm.sh ]] && . {{ hubot_nvm_dir }}/nvm.sh

nvm use {{ hubot_node_version }}

export PATH="{{ hubot_dir }}/node_modules/.bin:$PATH"
npm install

exec {{ hubot_dir }}/node_modules/.bin/hubot "$@" -a hipchat

