---
# File: roles/hubot/tasks.yml - Hubot role tasks

- name: Fetch EPEL repository package
  sudo: True
  get_url: url={{ epel_url }} dest=/tmp/{{ epel_package }}
  tags:
    - system_packages

- name: Install EPEL package
  sudo: True
  yum: "name=/tmp/{{ epel_package }} state=present"
  tags:
    - system_packages

- name: Install development tools
  sudo: True
  yum: name="@Development tools" state="latest"
  tags:
    - system_packages
  
- name: Install OS packages
  sudo: True
  yum: "name={{ item }} state=latest"
  with_items: os_packages
  tags:
    - system_packages

- name: Start Redis
  sudo: True
  service: name=redis state=started

- name: Install Node Version Manager
  sudo: False
  git: "repo=https://github.com/creationix/nvm.git dest={{ nvm_dir }}"
  tags:
    - node_packages

- name: Install Node.js
  shell: ". {{ nvm_dir }}/nvm.sh && nvm install {{ node_version }} creates={{ node_dir }} executable=/bin/bash"
  tags:
    - node_packages

- name: Clone Hubot repository
  sudo: False
  git: "repo=git://github.com/github/hubot.git dest={{ src_dir }}"

- name: Install Hubot base
  sudo: False
  command: "{{ node_dir }}/npm install chdir={{ src_dir }}"

- name: Install CoffeeScript
  sudo: False
  command: "{{ node_dir }}/npm install -g coffee-script creates={{ node_dir }}/coffee"
  tags:
    - node_packages

- name: Assemble Hubot
  sudo: False
  shell: ". {{ nvm_dir }}/nvm.sh && nvm use {{ node_version }} && make package chdir={{ src_dir }} executable=/bin/bash"

- name: Decommission Hubot previous model
  sudo: False
  file: "path={{ hubot_dir }} state=absent"

- name: Activate new Hubot
  sudo: False
  command: " mv {{ src_dir }}/hubot {{hubot_dir}}/"

- name: Install Hubot script dependencies
  sudo: False
  command: "{{ node_dir }}/npm install chdir={{ hubot_dir }}"
  command: "{{ node_dir }}/npm install {{ item }} chdir={{ hubot_dir }} creates={{ hubot_dir }}/node_modules/{{ item }}"
  with_items: node_packages
  tags:
    - node_packages

- name: Define Hubot environment
  sudo: False
  template: "src=_hubot.env.j2 dest={{ hubot_dir }}/{{ hubot_identity }}.env"
  notify:
    - restart hubot
  tags: 
    - hubot_environment

- name: Install Hubot start script
  sudo: False
  template: "src=hubot-hipchat.j2 dest={{ hubot_dir }}/bin/hubot-hipchat mode=0744"

- name: Install Hubot scripts
  sudo: False
  copy: "src=scripts/ dest={{ hubot_dir }}/scripts owner={{ hubot_admin }} mode=0644"
  tags:
    - hubot_scripts

- name: Configure Hubot scripts
  sudo: False
  template: "src=hubot-scripts.json.j2 dest={{ hubot_dir }}/hubot-scripts.json"
  tags:
    - hubot_scripts

- name: Hubot home permissions
  sudo: True
  file: "path=/home/{{ hubot_admin }} owner={{ hubot_admin }} group={{ hubot_admin }} recurse=yes"
  
- name: Install service init script
  sudo: True
  template: "src=hubot.init.j2 dest=/etc/init.d/hubot mode=0744"
  notify:
    - restart hubot
  tags: 
    - hubot_service

